// colors
$primary-color: #282c34;
$secondary-color: #6969693f;
$card-color: #ecebeb;

//fonts
$fontWight-regular: 400;
$fontWight-bold: 600;
$fontSize-s: 0.8rem;
$fontSize-m: 1rem;
$fontSize-l: 1.6rem;
